<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/css/normalize.min.css">

    <link rel='stylesheet prefetch' href='/css/Montserrat.css'>



    <script type="text/javascript" src="/js/popper-1.12.9.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm" id="nickWrap">
                <p>Kullanıcı adı giriniz:</p>
                <p id="nickError"></p>
                <form id="setNick">
                    <input size="20" id="nickname" placeholder="Nickname"/>
                    <input class="btn btn-success" type="submit" value="Başla!"/>
                </form>
            </div>
        </div>
        <div id="comment-container">
            <div class="commentbox-app">

                    <h1 class="heading">commentbox</h1>
                    <div class="clearfix">
                        <form id="comment-form">
                            <input type="text" id="comment-input" class="comment-input" id="comment-input" placeholder="Thoughts">
                            <input type="submit" value="Post" class="comment-btn" id="comment-btn">
                        </form>
                    </div>

                    <ul id="comment-stream" class="comment-stream">
                        <li>
                            <div class="post-preview">
                                <a href="#">
                                    <h3 class="post-subtitle">
                                        Problems look mighty small from 150 miles up
                                    </h3>
                                </a>
                                <p class="post-meta">Posted by
                                    <a href="#">Start Bootstrap</a>
                                    on September 24, 2018</p>
                            </div>
                        </li>
                    </ul>
                    <button class="remove-all-btn" id="remove-all" type="button">Remove all</button>

            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>

<script src="./socket.io/socket.io.js"></script>
<script src="./js/client.js"></script>


</html>