<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm" id="nickWrap">
            <p>Kullanıcı adı giriniz:</p>
            <p id="nickError"></p>
            <form id="setNick">
                <input size="20" id="nickname" placeholder="Nickname"/>
                <input class="btn btn-success" type="submit" value="Başla!"/>
            </form>
        </div>
    </div>

</div>
</body>
</html>