
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Signin Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="./css/signin.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="text-center">
<div class="form-signin">
    <img class="mb-4" src="./images/note.jpg" alt="" width="200" height="200">
    <h1 class="h3 mb-3 font-weight-normal" style="color:#FFFFFF">Lutfen giriş Yapın</h1>
    <form id="Loginol" action="/login" method="post">
    <label for="token" class="sr-only">Kulanıcı Adı </label>
    <input type="text" id="token" class="form-control" placeholder="Kullanıcıadı" name="token" required autofocus>
    <button class="btn btn-lg btn-primary btn-block" type="button" onclick="giris()">Giris Yap</button>
    </form>
    <a class="d-block medium mt-3" href="/register">Uye OL</a>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    <div class="text-center">

    </div>
</div>
</body>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script src="./javascripts/login.js"></script>
</html>
